/* Code based from Code Institute's Moments project */
.Form {
  border: none;
  border-bottom: 2px #00d1ff solid;
}

.Button {
  border: none;
  background-color: #f3d207;
  color: black;
  border-radius: 100px;
  padding: 4px 10px;
  min-width: 75px;
  margin: 5px;
  opacity: 1!important;
}

.Button:hover {
  cursor: pointer;
  background-color: #f3d207;
  opacity: 0.8!important;
}
