.Dropdown i {
  color: #211a1d;
}

.Dropdown > div {
  background-color: #211a1d;
}

.DropdownItem {
  display: inline-block;
  max-width: 50%;
  padding: 0px;
  background-color: #211a1d;
  color: #ffffff !important;
}

.DropdownItemProfile {
  display: inline-block;
  padding-right: 0.5rem;
  background-color: #211a1d;
  color: #ffffff;
}

.DropdownItem:hover,
.DropdownItemProfile:hover {
  background-color: #211a1d;
  color: #f3d207;
}

.DropdownItem i,
.DropdownItemProfile i {
  color: #ffffff;
}

.DropdownItem i:hover,
.DropdownItem i:hover {
  color: #f3d207;
}

.Absolute {
  position: absolute;
  right: 0;
  z-index: 99;
}
