.Dropdown i {
    color: #211A1D;
}

.Dropdown > div {
    background-color: #211A1D;
}

.DropdownItem {
  display: inline-block;
  max-width: 50%;
  padding: 0px;
  background-color: #211A1D;
}

.DropdownItem:hover {
    background-color: #211A1D;
}

.DropdownItem i {
    color: #ffffff;
}

.DropdownItem i:hover {
    color: #F3D207;
}

.Absolute {
  position: absolute;
  right: 0;
  z-index: 99;
}
