/* Code based from Code Institute's Moments project */
.NavBar {
  background-color: #211a1d;
}

.NavLink {
  padding: 5px;
}

.Active i {
  color: #f3d207;
}

.Hamburger {
  background-color: #f3d207;
}

@media (max-width: 991.5px) {
  .hide {
    display: none;
  }

  .NavLink {
    display: flex;
    align-items: center;
  }

  .AddPost {
    display: none;
  }
}

@media (max-width: 767.5px) {
  .hide {
    display: block;
  }
}
