.Post {
  background-color: #def5fa;
  border: 1px solid #dadadf;
  border-radius: 2px;
  margin-bottom: 16px;
  text-align: center;
  width:70%;
  margin-left: 15%;
}

.Post figure,
h5 {
  margin: 0 0;
}

.VoteIcon, .CommentIcon {
  color: #F3D207;
}

.Author {
  color: black;
}