.Row {
  width: 70%;
  margin-left: 15%;
  display: flex;
}

.SearchBar {
  width: 100%;
  margin-top: 1rem;
}

.SearchBar input {
  border-radius: 20px;
  color: #242a3d;
  padding-left: 40px;
  margin-bottom: 16px;
}

.SearchIcon {
  position: absolute;
  font-size: 1.2rem;
  padding: 9px;
  padding-left: 15px;
}

.SearchIcon:hover {
  cursor: default;
  color: #cfced3;
}

.DropdownCol {
  display: flex;
  justify-content: left;
  align-items: center;
}

.Dropdown > button {
  background-color: #211A1D;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: #211A1D;
}

.Dropdown > button:hover {
  background-color: #F3D207;
  color: #211A1D;
}

.Dropdown > button:focus {
  background-color: #F3D207!important;
  color: #211A1D!important;
  border-color: #211A1D!important;
  box-shadow: none!important;
}

.Dropdown > button:active {
  background-color: #F3D207!important;
  color: #211A1D!important;
  border-color: #211A1D!important;
  box-shadow: none!important;
}


@media (max-width: 991.5px) {
  .Row {
    width: 100%;
    margin-left: 0%;
  }
}

@media (max-width: 767.5px) {
  .Container {
    width: 100%;
    margin-left: 0%;
  }
}

@media (max-width: 575.5px) {
  .Row {
    width: 90%;
    margin-left: 5%;
    flex-direction: column;
  }

  .DropdownCol {
    justify-content: center;
  }
  
  .Dropdown > button {
    margin-top: 0;
  }
}
