.Post {
  background-color: #def5fa;
  border: 1px solid #dadadf;
  border-radius: 2px;
  margin-bottom: 16px;
  text-align: center;
  width:70%;
  margin-left: 15%;
}

.Post figure,
h5 {
  margin: 0 0;
}

.VoteIcon, .CommentIcon, .FavouriteIcon {
  color: #F3D207;
}

.VoteIcon:hover, .CommentIcon:hover, .FavouriteIcon:hover {
  color: black!important;
}

.Option1 {
  color: blue!important;
}

.Option2 {
  color: red!important;
}

.Author {
  color: black;
}


@media (max-width: 767.5px) {
  .Post {
    width: 100%;
    margin-left: 0%;
  }
}

@media (max-width: 575.5px) {
  .Post {
    width: 90%;
    margin-left: 5%;
  }
}