.Row {
  height: calc(100vh - 81px);
}

.Col {
  padding: 0 !important;
}

.Container {
  background: url('../assets/signup.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6rem 0 6rem 4rem;
  border-radius: 50px;
}

.Input {
  background: #ffffff;
  border: 1px solid #211a1d;
  box-sizing: border-box;
  border-radius: 100px;
  color: #211a1d !important;
  text-align: center;
  padding: 10px;
  width: 50%;
}

.Input:focus {
  border: 2px solid #f3d207;
}

.Header {
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  color: #211a1d;
  width: 50%;
  text-align: center;
}

.Link {
  text-decoration: none;
  text-align: center;
  /* display: block;
  margin: auto; */
  padding: 10px;
  color: #211a1d;
}

.Link:hover {
  color: #211a1d !important;
}

.Link span {
  color: red;
}

.SignInCol {
  height: 320px;
}

.SignUpCol {
  height: 375px;
}

.Alert {
  width: 50%;
  padding: 0.5rem 0.75rem;
}

.Different {
  width: 50%;
  padding: 0.5rem 0.75rem;
  margin-top: 1rem;
}

@media (max-width: 540px) {
  .Input {
    width: 70%;
  }

  .Header {
    width: 70%;
  }

  .Alert {
    width: 70%;
  }
}

@media (max-width: 420px) {
  .Input {
    width: 90%;
  }

  .Header {
    width: 90%;
  }

  .Alert {
    width: 90%;
  }

  .Container {
    padding: 6rem 0 6rem 2rem;
  }
}
