.Row {
  height: calc(100vh - 81px);
}

.Col {
  padding: 0 !important;
}

.Container {
  background: url("../assets/signup.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6rem 0 6rem 4rem;
  width: 60%;
  margin-top: 2rem;
}

.Input {
  background: #ffffff;
  border: 1px solid #211a1d;
  box-sizing: border-box;
  border-radius: 100px;
  color: #211a1d !important;
  text-align: center;
  padding: 10px;
  width: 50%;
}

.Input:focus {
  border: 2px solid #f3d207;
}

.Label {
    margin-left: 10%;
}

.Button {
  width: 20%;
  margin-left: 2.5%;
}

@media (max-width: 991.5px) {
  .Container {
    width: 80%;
  }
}

@media (max-width: 767.5px) {
  .Container {
    width: 100%;
  }
}

@media (max-width: 400px) {
    .Input {
        width: 90%;
    }

    .Button {
        width: 30%;
      }
}