.App {
  font-family: "Open Sans", sans-serif;
  background-color: #fffff1;
  min-height: 100vh;
}

.Main {
    padding-top: 81px;
}

* {
  box-sizing: border-box;
}

a {
  color: #fffff1;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
  color: #F3D207;
}

a:hover i {
  color: #F3D207;
  transition: color ease-in-out 0.3s;
}

i {
  color: #fffff1;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #fffff1;
}
*::-webkit-scrollbar-thumb {
  background: #888;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}